<mdb-navbar #navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <img src="assets/img/tech-universidad-tecnologica-white.svg">
        <!-- <span class="navbar-brand" class="titulo mx-5">Pedidos </span> -->
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links mr-auto -->
        <ul class="navbar-nav ">
            <li class="nav-item mx-1">
                <!-- active -->
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/pedidos"
                    routerLinkActive="active">Formulario de Pedidos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/facturas" routerLinkActive="active">Facturas
                    y Abonos</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Proformas</a>
            </li> -->

            <!-- Dropdown -->
            <li class="nav-item dropdown mx-1" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    ..Mas<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/proformas"
                        routerLinkActive="active">Proformas</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/aportaciones"
                        routerLinkActive="active">Aportaciones</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/vencimientos"
                        routerLinkActive="active">Vencimientos</a>
                    <!-- <div class="divider dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
                </div>
            </li>
        </ul>
        <!-- Links -->
        <app-search-input></app-search-input>
        <!-- (loading)="loading = $event" (results)="updateResults($event)"> -->


        <ul class="navbar-nav ml-auto nav-flex-icons">
            <!-- <li class="nav-item">
                <a class="nav-link">1
                    <mdb-icon fas icon="envelope"></mdb-icon>
                </a>
            </li> -->
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" alt="" class="img-fluid rounded-circle z-depth-0"> -->
                    <span style="font-size: 3em;">
                        <i class="fas fa-user-tie "></i>
                    </span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<ng-template #loading>
</ng-template>